<app-header (section)="cambiarSection($event)"></app-header>
<section class="w-full mt-7" id="inicio">
  <img class="w-full" src="../../../../assets/Images/imagenes/bus.jpg" alt="imagen bus">
</section>
<section class="mt-5">
  <h1 class="text-5xl w-full text-center">
    X COOPERATIVA DE TRANSPORTES ECUADOR
  </h1>
</section>
<section id="quines_somos" class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-8">
    <h2 class="w-full text-center">
      X ¿Quiénes Somos?
    </h2>
    <hr>
    <p class="w-full text-center">
      X Cooperativa de Transportes Ecuador fue fundada el 16 de octubre de 1952 en Quito con la propuesta de brindar el mejor servicio de transporte interprovincial del país. Contamos con más de 68 años de experiencia en servicio, seguridad y comodidad. Nuestras 54 unidades doble piso son modernas y equipadas con la mejor tecnología en servicio de viajes terrestres. Nuestra principal ruta es Quito-Guayaquil, Guayaquil-Quito, en nuestro trayecto realizamos paradas en Babahoyo, Durán y Ventanas, teniendo oficinas en las cuales es posible adquirir boletos o solicitar información. Es así que durante todos estos años nos hemos caracterizado por ser pioneros en el transporte nacional.
    </p>
  </div>
</section>
<section id="horarios"  class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-10">
    <h2 class="w-full text-center">
      X Horarios de Salida
    </h2>
    <hr>
    <div class="w-full grid m-0">
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/guayaquil.webp" alt="guayaquil bus">
        <p class="w-full text-center text-sm font-medium">X Guayaquil</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="X información"></p-button>
        </div>
      </div>
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/quito.webp" alt="quito bus">
        <p class="w-full text-center text-sm font-medium">X Quito</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="X información"></p-button>
        </div>
      </div>
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/ventanas.jpg" alt="ventanas bus">
        <p class="w-full text-center text-sm font-medium">X Ventana</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="X información"></p-button>
        </div>
      </div>  
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/babahoyo.jpg" alt="babahoyo bus">
        <p class="w-full text-center text-sm font-medium">X Babahoyo</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="X información"></p-button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="venta_boletos" class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-8">
    <h2 class="w-full text-center">
      X Venta en Línea
    </h2>
    <hr>
    <p class="w-full text-center">
      X Olvídate de las filas o correr para conseguir tus pasajes. Compra tus pasajes en línea, puedes revisar horarios y disponibilidad de asientos en tiempo real.
    </p>
    <div class="w-full grid m-0">
      <div class="col-7 py-4">
          <div>
            <p>
              X 1. Selección de Ruta
            </p>
            <p>
              X Seleccione origen, destino, fecha y hora.
            </p>
          </div>
          <div>
            <p>
              X 2. Selección de Asientos
            </p>
            <p>
              X Seleccione entre los asientos disponibles.
            </p>
          </div>
          <div>
            <p>
              X 3. Selección de Método de Pago
            </p>
            <p>
              X Seleccione método de pago y datos para su factura.
            </p>
          </div>
          <div>
            <p>
              X 4. Confirmación
            </p>
            <p>
              X Al finalizar recibirá su boleto al correo electrónico.
            </p>
          </div>
          <div class="w-full flex justify-content-left flex-wrap">
            <p-button label="X Comprar boletos"></p-button>
          </div>
      </div>
      <div class="col-5 px-0 py-4 flex justify-content-center flex-wrap">
          <img class="w-10" src="../../../../assets/Images/imagenes/boletosonline.png" alt="">
      </div>
    </div>
  </div>
</section>
<section id="oficinas" class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-8">
    <h2 class="w-full text-center">
      X Oficinas
    </h2>
    <hr>
    <p class="w-full text-center">
      X Cooperativa de Transportes Ecuador fue fundada el 16 de octubre de 1952 en Quito con la propuesta de brindar el mejor servicio de transporte interprovincial del país. Contamos con más de 68 años de experiencia en servicio, seguridad y comodidad. Nuestras 54 unidades doble piso son modernas y equipadas con la mejor tecnología en servicio de viajes terrestres. Nuestra principal ruta es Quito-Guayaquil, Guayaquil-Quito, en nuestro trayecto realizamos paradas en Babahoyo, Durán y Ventanas, teniendo oficinas en las cuales es posible adquirir boletos o solicitar información. Es así que durante todos estos años nos hemos caracterizado por ser pioneros en el transporte nacional.
    </p>
    <div class="w-full grid m-0">
      <div class="col-6">
        <h3>X Quito</h3>
        <h4>X Oficinas Administrativas</h4>
        <p>
            X Teodoro Gómez de la Torre y Alonso de la Fuente <br>
            (02) 264 1205
        </p> 

        <h4>X Boletería Terminal Quitumbe</h4>
        <p>
            X Av. Cóndor Ñan y Mariscal Sucre<br>
            (02) 282 4851
        </p> 

        <h4>XEncomiendas Terminal Quitumbe</h4>
        <p>
            X Av. Mariscal Sucre y Guayanay Ñan<br>
            (02) 382 4831
        </p> 

        <h4>X Boletería y Encomiendas Terminal de Carcelén</h4>
        <p>
            X Av. Eloy Alfaro y Calle N74-C <br>
            096 632 15575
        </p> 

        <h4>X Boletería Juan León Mera</h4>
         <p>
            X Juan León Mera entre Robles Washington y Francisco Robles<br>
            (02) 222 5315
         </p> 

        <h4>X Encomiendas Juan León Mera</h4>
        <p>
            X Juan León Mera entre Robles Washington y Francisco Robles<br>
            (02) 222 6267
        </p> 

        <h4>X Boletería y Encomiendas San Rafael</h4>
        <p>
            X Av. General Enríquez y la Concordia<br>
            098 047 8420
        </p> 

        <h3>X Babahoyo</h3>
        <h4>X Boletería y encomiendas Babohoyo</h4>
        <p>
            X Av. 5 de Junio - Terminal Terrestre<br>
            096 773 8971
        </p> 
      </div>
      <div class="col-6">
            <h3>X Guayaquil</h3>
            <h4>X Boletería Terminal de Guayaquil</h4>
            <p>
                X Av. Benjamín Rosales - Terminal Terrestre<br>
                (04) 213 0592
            </p> 

            <h4>X Boletería Américas</h4>
            <p>
                X Av. de las Américas y Hermano Miguel<br>
                (04) 292 5228
            </p> 

            <h4>X Encomiendas Américas</h4>
            <p>
                X Av. de las Américas y Hermano Miguel<br>
                (04) 292 5167
            </p> 

            <h3>X Ventanas</h3>
            <h4>X Boletería y encomiendas Ventanas</h4>
            <p>
                X Vía Babahoyo - Guayaquil, diagonal al Monumento al Maíz<br>
                097 995 7102
            </p> 

            <h3>X Tambillo</h3>
            <h4>X Boletería y Encomiendas Tambillo</h4>
            <p>
                X Panamericana Sur - Colectora Quito, Parada de Interprovinciales<br>
                095 979 9882
            </p> 

            <h3>X Buena Fe</h3>
            <h4>X Boletería Buena Fe</h4>
            <p>
                X Via Quevedo - Santo Domingo frente a gasolinera Genesis<br>
                098 335 2363
            </p> 
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
