<div class="home mb-4">
  <section class="w-full mt-7" id="inicio">
    <img class="w-full" src="../../../../assets/Images/imagenes/bus.jpg" alt="imagen bus">
  </section>
  <section class="mt-5">
    <h1 class="text-5xl w-full text-center text-color-primary">
      {{'home.cooperativa_transportes' | translate}}
    </h1>
  </section>
  <section id="quines_somos" class="w-full flex justify-content-center flex-wrap mt-5">
    <div class="w-6">
      <h2 class="w-full text-center text-4xl font-bold">
        {{'home.quienes_somos' | translate}}
      </h2>
      <hr>
      <p class="mb-1 text-center p-2 text-sm line-height-3 mt-3">
        {{'home.cooperativa_transportes_fundada' | translate}}
      </p>
    </div>
  </section>
  <section id="horarios"  class="w-full mt-5">
    <div class="w-12 flex justify-content-center flex-wrap">
      <div class="w-6">
        <h2 class="w-full text-center text-4xl font-bold">
          {{'home.horarios_salida' | translate}}
        </h2>
        <hr>
      </div>
      <div class="w-10 grid m-0 mt-4">
        <div class="col-3">
          <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/guayaquil.webp" alt="guayaquil bus">
          <p class="mb-1 w-full text-center text-sm font-medium">{{'home.guayaquil' | translate}}</p>
          <div class="w-full flex justify-content-center flex-wrap mt-2">
            <p-button (onClick)="showDialog('../../../../assets/Images/horarios/horarios_guayaquil.png')" class="button-primary" label="{{'home.informacion' | translate}}"></p-button>
          </div>
        </div>
        <div class="col-3">
          <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/quito.webp" alt="quito bus">
          <p class="mb-1 w-full text-center text-sm font-medium">{{'home.quito' | translate}}</p>
          <div class="w-full flex justify-content-center flex-wrap mt-2">
            <p-button (onClick)="showDialog('../../../../assets/Images/horarios/horarios_quito.png')" class="button-primary" label="{{'home.informacion' | translate}}"></p-button>
          </div>
        </div>
        <div class="col-3">
          <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/ventanas.jpg" alt="ventanas bus">
          <p class="mb-1 w-full text-center text-sm font-medium">{{'home.ventana' | translate}}</p>
          <div class="w-full flex justify-content-center flex-wrap mt-2">
            <p-button (onClick)="showDialog('../../../../assets/Images/horarios/horarios_ventanas.png')" class="button-primary" label="{{'home.informacion' | translate}}"></p-button>
          </div>
        </div>  
        <div class="col-3">
          <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/babahoyo.jpg" alt="babahoyo bus">
          <p class="mb-1 w-full text-center text-sm font-medium">{{'home.babahoyo' | translate}}</p>
          <div class="w-full flex justify-content-center flex-wrap mt-2">
            <p-button (onClick)="showDialog('../../../../assets/Images/horarios/horarios_babahoyo.png')" class="button-primary" label="{{'home.informacion' | translate}}"></p-button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="venta_boletos" class="w-full mt-5">
    <div class="w-12 flex justify-content-center flex-wrap">
      <div class="w-6">
        <h2 class="w-full text-center text-4xl font-bold">
          {{'home.venta_en_linea' | translate}}
        </h2>
        <hr>
        <p class="mb-1 text-center p-2 text-sm line-height-3 mt-3">
          {{'home.olvidate_de_las_filas' | translate}}
        </p>
      </div>
      <div class="w-7 grid m-0 mt-3">
        <div class="col-7 py-4">
            <div>
              <p class="mb-1 text-color-primary font-semibold text-sm line-height-3">
                {{'home.seleccion_ruta' | translate}}
              </p>
              <p class="mb-1 text-sm line-height-3">
                {{'home.seleccion_origen' | translate}}
              </p>
            </div>
            <div>
              <p class="mb-1 text-color-primary font-semibold text-sm line-height-3">
                {{'home.seleccion_asientos' | translate}}
              </p>
              <p class="mb-1 text-sm line-height-3">
                {{'home.seleccion_asientos_disponibles' | translate}}
              </p>
            </div>
            <div>
              <p class="mb-1 text-color-primary font-semibold text-sm line-height-3">
                {{'home.seleccion_metodo_pago' | translate}}
              </p>
              <p class="mb-1 text-sm line-height-3">
                {{'home.seleccion_metodo_pago_datos' | translate}}
              </p>
            </div>
            <div>
              <p class="mb-1 text-color-primary font-semibold text-sm line-height-3">
                {{'home.confirmacion' | translate}}
              </p>
              <p class="mb-1 text-sm line-height-3">
                {{'home.finalizar_recibir_boleto' | translate}}
              </p>
            </div>
            <div class="w-full flex justify-content-left flex-wrap mt-4">
              <p-button (onClick)="cambiarPantalla()" class="button-primary" label="{{'home.comprar_boletos' | translate}}"></p-button>
            </div>
        </div>
        <div class="col-5 px-0 py-4 flex justify-content-center flex-wrap">
            <img class="w-10" src="../../../../assets/Images/imagenes/boletosonline.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section id="oficinas" class="w-full mt-5">
    <div class="w-12 flex justify-content-center flex-wrap">
      <div class="w-6">
        <h2 class="w-full text-center text-4xl font-bold">
          {{'home.oficinas' | translate}}
        </h2>
        <hr>
      </div>
      <div class="w-7 grid m-0 mt-5">
        <div class="col-6 pl-6">
          <h3 class="mb-1 text-color-primary font-bold text-base">{{'home.quito' | translate}}</h3>
          <h4 class="mb-1 text-sm font-medium">{{'home.oficinas_administrativas' | translate}}</h4>
          <p class="mb-1 text-sm font-normal">
              {{'home.teodoro_gomez' | translate}} <br>
              (02) 264 1205
          </p> 
  
          <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_terminal_quitumbe' | translate}}</h4>
          <p class="mb-1 text-sm font-normal">
              {{'home.av_condor_mariscal' | translate}}<br>
              (02) 282 4851
          </p> 
  
          <h4 class="mb-1 text-sm font-medium">{{'home.encomiendas_terminal_quitumbe' | translate}}</h4>
          <p class="mb-1 text-sm font-normal">
              {{'home.av_mariscal_sucre' | translate}}<br>
              (02) 382 4831
          </p> 
  
          <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_encomiendas_terminal_carcelen' | translate}}</h4>
          <p class="mb-1 text-sm font-normal">
              {{'home.av_eloy_alfaro' | translate}}<br>
              096 632 15575
          </p> 
  
          <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_juan_leon' | translate}}</h4>
           <p class="mb-1 text-sm font-normal">
              {{'home.juan_leon_francisco_robles' | translate}}<br>
              (02) 222 5315
           </p> 
  
          <h4 class="mb-1 text-sm font-medium">{{'home.encomiendas_juan_leon' | translate}}</h4>
          <p class="mb-1 text-sm font-normal">
            {{'home.juan_leon_francisco_robles' | translate}}<br>
              (02) 222 6267
          </p> 
  
          <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_san_rafael' | translate}}</h4>
          <p class="mb-1 text-sm font-normal">
              {{'home.av_general_enriquez' | translate}}<br>
              098 047 8420
          </p> 
  
          <h3 class="mb-1 text-color-primary font-bold text-base">{{'home.babahoyo' | translate}}</h3>
          <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_babahoyo' | translate}}</h4>
          <p class="mb-1 text-sm font-normal">
              {{'home.av_5_de_junio' | translate}}<br>
              096 773 8971
          </p> 
        </div>
        <div class="col-6 pl-6">
              <h3 class="mb-1 text-color-primary font-bold text-base">{{'home.guayaquil' | translate}}</h3>
              <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_terminal_guayaquil' | translate}}</h4>
              <p class="mb-1 text-sm font-normal">
                  {{'home.av_benjamin_rosales' | translate}}<br>
                  (04) 213 0592
              </p> 
  
              <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_americas' | translate}}</h4>
              <p class="mb-1 text-sm font-normal">
                  {{'home.av_de_las_americas' | translate}}<br>
                  (04) 292 5228
              </p> 
  
              <h4 class="mb-1 text-sm font-medium">{{'home.encomiendas_americas' | translate}}</h4>
              <p class="mb-1 text-sm font-normal">
                  {{'home.av_de_las_americas' | translate}}<br>
                  (04) 292 5167
              </p> 
  
              <h3 class="mb-1 text-color-primary font-bold text-base">{{'home.ventana' | translate}}</h3>
              <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_ventanas' | translate}}</h4>
              <p class="mb-1 text-sm font-normal">
                  {{'home.via_babahoyo_guayaquil' | translate}}<br>
                  097 995 7102
              </p> 
  
              <h3 class="mb-1 text-color-primary font-bold text-base">{{'home.tambillo' | translate}}</h3>
              <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_tambillo' | translate}}</h4>
              <p class="mb-1 text-sm font-normal">
                  {{'home.panamericana_sur' | translate}}<br>
                  095 979 9882
              </p> 
  
              <h3 class="mb-1 text-color-primary font-bold text-base">{{'home.buena_fe' | translate}}</h3>
              <h4 class="mb-1 text-sm font-medium">{{'home.boleteria_buena_fe' | translate}}</h4>
              <p class="mb-1 text-sm font-normal">
                  {{'home.via_quevedo' | translate}}<br>
                  098 335 2363
              </p> 
        </div>
      </div>
    </div>
  </section>
  <!-- Modales -->
  <p-dialog [showHeader]="true"[(visible)]="visibleModal" [modal]="true" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false">
    <img class="w-full" [src]="rutaImagen" alt="">
  </p-dialog>
</div>

