<app-header (section)="cambiarSection($event)"></app-header>
<section class="w-full mt-7" id="inicio">
  <img class="w-full" src="../../../../assets/Images/imagenes/bus.jpg" alt="imagen bus">
</section>
<section class="mt-5">
  <h1 class="text-5xl w-full text-center">
    {{'home.cooperativa_transportes' | translate}}
  </h1>
</section>
<section id="quines_somos" class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-8">
    <h2 class="w-full text-center">
      {{'home.quienes_somos' | translate}}
    </h2>
    <hr>
    <p class="w-full text-center">
      {{'home.cooperativa_transportes_fundada' | translate}}
    </p>
  </div>
</section>
<section id="horarios"  class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-10">
    <h2 class="w-full text-center">
      {{'home.horarios_salida' | translate}}
    </h2>
    <hr>
    <div class="w-full grid m-0">
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/guayaquil.webp" alt="guayaquil bus">
        <p class="w-full text-center text-sm font-medium">{{'home.guayaquil' | translate}}</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="{{'home.informacion' | translate}}"></p-button>
        </div>
      </div>
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/quito.webp" alt="quito bus">
        <p class="w-full text-center text-sm font-medium">{{'home.quito' | translate}}</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="{{'home.informacion' | translate}}"></p-button>
        </div>
      </div>
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/ventanas.jpg" alt="ventanas bus">
        <p class="w-full text-center text-sm font-medium">{{'home.ventana' | translate}}</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="{{'home.informacion' | translate}}"></p-button>
        </div>
      </div>  
      <div class="col-3">
        <img class="w-full border-round-2xl" src="../../../../assets/Images/imagenes/babahoyo.jpg" alt="babahoyo bus">
        <p class="w-full text-center text-sm font-medium">{{'home.babahoyo' | translate}}</p>
        <div class="w-full flex justify-content-center flex-wrap">
          <p-button label="{{'home.informacion' | translate}}"></p-button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="venta_boletos" class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-8">
    <h2 class="w-full text-center">
      {{'home.venta_en_linea' | translate}}
    </h2>
    <hr>
    <p class="w-full text-center">
      {{'home.olvidate_de_las_filas' | translate}}
    </p>
    <div class="w-full grid m-0">
      <div class="col-7 py-4">
          <div>
            <p>
              {{'home.seleccion_ruta' | translate}}
            </p>
            <p>
              {{'home.seleccion_origen' | translate}}
            </p>
          </div>
          <div>
            <p>
              {{'home.seleccion_asientos' | translate}}
            </p>
            <p>
              {{'home.seleccion_asientos_disponibles' | translate}}
            </p>
          </div>
          <div>
            <p>
              {{'home.seleccion_metodo_pago' | translate}}
            </p>
            <p>
              {{'home.seleccion_metodo_pago_datos' | translate}}
            </p>
          </div>
          <div>
            <p>
              {{'home.confirmacion' | translate}}
            </p>
            <p>
              {{'home.finalizar_recibir_boleto' | translate}}
            </p>
          </div>
          <div class="w-full flex justify-content-left flex-wrap">
            <p-button label="{{'home.comprar_boletos' | translate}}"></p-button>
          </div>
      </div>
      <div class="col-5 px-0 py-4 flex justify-content-center flex-wrap">
          <img class="w-10" src="../../../../assets/Images/imagenes/boletosonline.png" alt="">
      </div>
    </div>
  </div>
</section>
<section id="oficinas" class="w-full flex justify-content-center flex-wrap mt-5">
  <div class="w-8">
    <h2 class="w-full text-center">
      {{'home.oficinas' | translate}}
    </h2>
    <hr>
    <p class="w-full text-center">
      {{'home.cooperativa_transportes_fundada' | translate}}
    </p>
    <div class="w-full grid m-0">
      <div class="col-6">
        <h3>{{'home.quito' | translate}}</h3>
        <h4>{{'home.oficinas_administrativas' | translate}}</h4>
        <p>
            {{'home.teodoro_gomez' | translate}} <br>
            (02) 264 1205
        </p> 

        <h4>{{'home.boleteria_terminal_quitumbe' | translate}}</h4>
        <p>
            {{'home.av_condor_mariscal' | translate}}<br>
            (02) 282 4851
        </p> 

        <h4>{{'home.encomiendas_terminal_quitumbe' | translate}}</h4>
        <p>
            {{'home.av_mariscal_sucre' | translate}}<br>
            (02) 382 4831
        </p> 

        <h4>{{'home.boleteria_encomiendas_terminal_carcelen' | translate}}</h4>
        <p>
            {{'home.av_eloy_alfaro' | translate}}<br>
            096 632 15575
        </p> 

        <h4>{{'home.boleteria_juan_leon' | translate}}</h4>
         <p>
            {{'home.juan_leon_francisco_robles' | translate}}<br>
            (02) 222 5315
         </p> 

        <h4>{{'home.encomiendas_juan_leon' | translate}}</h4>
        <p>
          {{'home.juan_leon_francisco_robles' | translate}}<br>
            (02) 222 6267
        </p> 

        <h4>{{'home.boleteria_san_rafael' | translate}}</h4>
        <p>
            {{'home.av_general_enriquez' | translate}}<br>
            098 047 8420
        </p> 

        <h3>{{'home.babahoyo' | translate}}</h3>
        <h4>{{'home.boleteria_babahoyo' | translate}}</h4>
        <p>
            {{'home.av_5_de_junio' | translate}}<br>
            096 773 8971
        </p> 
      </div>
      <div class="col-6">
            <h3>{{'home.guayaquil' | translate}}</h3>
            <h4>{{'home.boleteria_terminal_guayaquil' | translate}}</h4>
            <p>
                {{'home.av_benjamin_rosales' | translate}}<br>
                (04) 213 0592
            </p> 

            <h4>{{'home.boleteria_americas' | translate}}</h4>
            <p>
                {{'home.av_de_las_americas' | translate}}<br>
                (04) 292 5228
            </p> 

            <h4>{{'home.encomiendas_americas' | translate}}</h4>
            <p>
                {{'home.av_de_las_americas' | translate}}<br>
                (04) 292 5167
            </p> 

            <h3>{{'home.ventana' | translate}}</h3>
            <h4>{{'home.boleteria_ventanas' | translate}}</h4>
            <p>
                {{'home.via_babahoyo_guayaquil' | translate}}<br>
                097 995 7102
            </p> 

            <h3>{{'home.tambillo' | translate}}</h3>
            <h4>{{'home.boleteria_tambillo' | translate}}</h4>
            <p>
                {{'home.panamericana_sur' | translate}}<br>
                095 979 9882
            </p> 

            <h3>{{'home.buena_fe' | translate}}</h3>
            <h4>{{'home.boleteria_buena_fe' | translate}}</h4>
            <p>
                {{'home.via_quevedo' | translate}}<br>
                098 335 2363
            </p> 
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
