@mixin compra-boleto {

    .border-color-radius {
        border: 1px solid rgba(192, 192, 192, 0.671);
    }
    .p-inputtext{
        padding: 7px;
        font-size: 14px;
    }
    .p-dropdown:not(.p-disabled):hover{
        border-color: #ced4da;
    }
    .p-dropdown:not(.p-disabled).p-focus{
        border-color: #ced4da;
    }
    .p-dropdown:not(.p-disabled).p-focus{
        box-shadow: none;
    }
    .p-dropdown{
        width: 100%;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        padding: 3px;
        font-size: 14px;
    }
    .p-dropdown-panel .p-dropdown-items{
        padding: 0.30rem;
    }
    .p-dropdown-items-wrapper {
        margin-top: 5px;
    }
    .p-dropdown-panel {
        margin-left: 6px;
    }

    /*Clases para página*/
    .div-comprar-boleto{
        min-height: 250px;
    }

    .p-inputtext:enabled:focus{
        box-shadow: 0 0 0 0.2rem #30a7c24b;
        border-color: #30a7c2;
    }

    .div-seleccionar-asientos{
        min-height: 450px;
        max-height: 450px;
        overflow: auto;
    }

    .table hr {
        border: 1px solid #dee2e6;
        margin-top: 0px;
    }

    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 9999;
    }
    
    .loading-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .rotate-horizontal {
        height: 200px;
        transform: rotate(270deg);
    }

    .width-20 {
        width: 20%;
        padding: 0.5rem;
    }

    .width-40 {
        width: 40%;
    }
    .p-steps ul {
        display: inline;
    }

    .p-steps .p-steps-item .p-menuitem-link .p-steps-title{
        margin-bottom: 0.9rem;
        margin-top: 0.9rem;
    }

    .square {
        width: 60px;
        height: 31px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .triangle {
        width: 0;
        height: 0;
        border-top: 16px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #efbe09;
        position: absolute;
        top: 0px;
        left: 60px; /* Ajusta el valor para posicionar el triángulo correctamente al lado del cuadrado */
    }
    
    .square span {
        color: #fff;
    }

    .border-asientos{
        border: 35px solid blue;
        border-radius: 35px;
        border-left: 1px solid #e7e7e7bb;
        border-right:  1px solid #e7e7e7bb;
        border-top-color: #e7e7e7bb;
        border-bottom-color: #e7e7e7bb;
    }

    .border-info-asientos{
        border: 1px solid #eae9e7;
        border-radius: 10px;
    }

    .border-info-usuario{
        border: 1px solid #eae9e7;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .top-10px{
        top: 10px;
    }
}