@mixin compra-boleto {

    .border-color-radius {
        border: 1px solid rgba(192, 192, 192, 0.671);
    }
    .p-inputtext{
        padding: 7px;
        font-size: 14px;
    }
    .p-dropdown:not(.p-disabled):hover{
        border-color: #ced4da;
    }
    .p-dropdown:not(.p-disabled).p-focus{
        border-color: #ced4da;
    }
    .p-dropdown:not(.p-disabled).p-focus{
        box-shadow: none;
    }
    .p-dropdown{
        width: 100%;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        padding: 3px;
        font-size: 14px;
    }
    .p-dropdown-panel .p-dropdown-items{
        padding: 0.30rem;
    }
    .p-dropdown-items-wrapper {
        margin-top: 5px;
    }
    .p-dropdown-panel {
        margin-left: 6px;
    }

    /*Clases para página*/
    .div-comprar-boleto{
        min-height: 320px;
        max-height: 320px;
    }

    .div-seleccionar-asientos{
        min-height: 450px;
        max-height: 450px;
        overflow: auto;
    }

    .table hr {
        border: 1px solid #dee2e6;
        margin-top: 0px;
    }

    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 9999;
    }
    
    .loading-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .rotate-horizontal {
        height: 200px;
        transform: rotate(270deg);
    }

    .width-20 {
        width: 20%;
        padding: 0.5rem;
    }

    .width-40 {
        width: 40%;
    }
    .p-steps ul {
        display: inline;
    }

    .p-steps .p-steps-item .p-menuitem-link .p-steps-title{
        margin-bottom: 0.9rem;
        margin-top: 0.9rem;
    }
}