<div class="header">
  <header class="bg-color-primary select-none w-full flex justify-content-center flex-wrap fixed top-0 left-0 z-5 py-2 grid m-0 p-2">
    <ng-container *ngIf="id_Rol==null; else paginaCliente">
      <div class="col grid">
        <div class="w-max py-0 flex align-content-center flex-wrap">
          <img class="h-4rem" src="../../../../assets/Images/icons/logo_cte.webp" alt="logo">
        </div>
        <div class="col p-0 mt-2">
          <ul class="lista-elemnt flex list-none text-sm my-3 pl-0">
            <li class="flex-1 flex justify-content-center flex-wrap"> 
              <p class="cursor-pointer select-none" (click)="cambioSection('inicio')">{{'header.inicio' | translate}}</p> 
            </li>
            <li class="flex-1 flex justify-content-center flex-wrap">
              <p class="cursor-pointer select-none" (click)="cambioSection('quines_somos')">{{'header.quienes_somos' | translate}}</p> 
            </li>
            <li class="flex-1 flex justify-content-center flex-wrap">
              <p class="cursor-pointer select-none" (click)="cambioSection('horarios')">{{'header.horarios' | translate}}</p>
            </li>
            <li class="flex-1 flex justify-content-center flex-wrap">
              <p class="cursor-pointer select-none" (click)="cambioSection('venta_boletos')">{{'header.venta_en_linea' | translate}}</p>
            </li>
            <li class="flex-1 flex justify-content-center flex-wrap">
              <p class="cursor-pointer select-none" (click)="cambioSection('oficinas')">{{'header.oficinas' | translate}}</p>
            </li>
            <li class="flex-1 flex justify-content-center flex-wrap">
              <p class="cursor-pointer select-none" (click)="abrirModal()">{{'header.iniciar_sesion' | translate}}</p>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
    <ng-template #paginaCliente>
      <div class="col grid">
        <div class="w-max py-0 flex align-content-center flex-wrap">
          <img class="h-4rem" src="../../../../assets/Images/icons/logo_cte.webp" alt="logo">
        </div>
        <div class="col p-0 px-4 mt-2 flex align-content-center justify-content-end flex-wrap">
          <div class="mr-4 text-white">
            <p class="text-center text-lg font-bold line-height-3">Kevin Arévalo Saldaña</p>
            <p class="text-center text-base font-bold">Ultimo inicio sesión: 18:00:00</p>
          </div>
        </div>
      </div>
    </ng-template>
    
    <div [ngClass]="{'mr-3':id_Rol!=null}" class="w-1 p-2 flex justify-content-center align-content-center flex-wrap relative top-0">
      <p-dropdown class="pb-2" 
                  [options]="idioma_array" 
                  [(ngModel)]="selectedIdioma" 
                  [editable]="false"
                  (onChange) ="cambioIdioma($event)"
                  optionLabel="name">
      </p-dropdown>
    </div>
  </header>

  <!-- Modale iniciar sesión-->
  <p-dialog header="{{'header.inicio_sesion' | translate}}" [showHeader]="true"[(visible)]="inicioSeccion" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
    <span class="p-float-label mt-4 inicio-sesion">
      <input class="w-full" pInputText id="username" [(ngModel)]="credenciales.correo" />
      <label htmlFor="username">{{'header.correo_electronico' | translate}}</label>
    </span>
    <span class="p-float-label mt-6 inicio-sesion">
      <input class="w-full" pInputText id="username" [(ngModel)]="credenciales.password" />
      <label htmlFor="username">{{'header.contraseña' | translate}}</label>
    </span>
    <div class="w-full flex justify-content-center flex-wrap mt-5">
      <p-button [disabled]="credenciales.correo == '' || credenciales.password == '' " (onClick)="iniciarSession()" class="button-primary" label="{{'header.continuar' | translate}}"></p-button>
    </div>
  </p-dialog>

</div>

<p-toast key="login" position="top-center"></p-toast>