<div class="compra-boleto">
  <div class="pt-8 w-full grid m-0">
    <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-12 bd-color-fcf9f0 flex justify-content-center flex-wrap">
      <div class="w-max my-4">
        <div class="inline">
          <div class="border-circle inline" [ngClass]="{'bg-color-efbe09 text-white': id==0, 'bg-green-500 font-bold': id>0}">
            <ng-container *ngIf="id > 0; else iconPaso1">
              <span class="py-1 px-1 text-xs text-white"> <i class="pi-check pi"></i> </span>
            </ng-container>
            <ng-template #iconPaso1>
              <span class="py-1 px-2 text-sm">1</span>
            </ng-template>
          </div>
          <p [ngClass]="{'font-bold': id>0}" class="inline ml-2 text-sm">{{'compra_boleto.seleccionar_boleto' | translate }}</p>
        </div>
        <div class="inline ml-3">
          <div class="border-circle inline" [ngClass]="{'bg-color-efbe09 text-white': id==1, 'bg-green-500 font-bold': id>1, 'bg-black-alpha-40' : id<1}">
            <ng-container *ngIf="id > 1; else iconPaso2">
              <span class="py-1 px-1 text-xs text-white"> <i class="pi-check pi"></i> </span>
            </ng-container>
            <ng-template #iconPaso2>
              <span class="py-1 px-2 text-sm text-white">2</span>
            </ng-template>
          </div>
          <p [ngClass]="{'font-bold': id>1}" class="inline ml-2 text-sm">{{'compra_boleto.seleccionar_asientos' | translate }}</p>
        </div>
        <div class="inline ml-3">
          <div class="bg-black-alpha-40 border-circle inline" [ngClass]="{'bg-color-efbe09 text-white': id==2, 'bg-green-500 font-bold': id>2, 'bg-black-alpha-40' : id<2}">
            <ng-container *ngIf="id > 2; else iconPaso3">
              <span class="py-1 px-1 text-xs text-white"> <i class="pi-check pi"></i> </span>
            </ng-container>
            <ng-template #iconPaso3>
              <span class="py-1 px-2 text-sm text-white">3</span>
            </ng-template>
          </div>
          <p [ngClass]="{'font-bold': id>2}" class="inline ml-2 text-sm">{{'compra_boleto.pago' | translate}}</p>
        </div>
        <div *ngIf="id==0" class="block w-12 flex justify-content-center flex-wrap mt-5">
          <div class="w-max">
            <div class="relative inline-block">
              <div class="square bg-color-efbe09">
                <span class="text-sm">{{'compra_boleto.ruta' | translate}}:</span>
              </div>
              <div class="triangle"></div>
            </div>
            <div class="inline-block ml-5">
              <span class="text-base font-bold">{{ciudadPartida.ciudad}} <i class="pi-arrow-right pi mx-2"></i> {{ciudadLlegada.ciudad}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="id==1" class="block w-12 flex justify-content-center flex-wrap mt-4">
          <div class="w-max">
            <p class="text-center mb-1 font-bold">{{'compra_boleto.asientsos' | translate}}</p>
            <p class="text-color-tercero font-semibold">{{'compra_boleto.ingrese_informacion_pasajero' | translate}}</p>
          </div>
        </div>
        <div *ngIf="id==2" class="block w-12 flex justify-content-center flex-wrap mt-4">
          <div class="w-max">
            <p class="text-center mb-1 font-bold">{{'compra_boleto.forma_pago' | translate}}</p>
            <p class="text-color-tercero font-semibold">{{'compra_boleto.ingrese_informacion_forma_pago' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="id==0" class="my-3 w-12 flex justify-content-center align-content-center flex-wrap">
      <div class="w-12 grid">
        <div class="col-6 flex justify-content-center flex-wrap">
          <p class="w-12 text-center">{{'compra_boleto.ciudad_partida' | translate}}</p>
          <p-dropdown class="w-6 mt-2" 
                      [options]="ciudadesPartidaData" 
                      [(ngModel)]="ciudadPartida" 
                      [editable]="false"
                      (onChange) ="cambioCiudadPartida($event)"
                      optionLabel="ciudad">
          </p-dropdown>
        </div>
        <div class="col-6 flex justify-content-center flex-wrap">
          <p class="w-12 text-center">{{'compra_boleto.ciudad_llegada' | translate}}</p>
          <p-dropdown class="w-6 mt-2" 
                      [options]="ciudadesLlegadaData" 
                      [(ngModel)]="ciudadLlegada" 
                      [editable]="false"
                      (onChange) ="cambioCiudadDestino($event)"
                      optionLabel="ciudad">
          </p-dropdown>
        </div>
      </div>
      <div class="w-11 mt-3 border-round-2xl border-color-radius div-comprar-boleto">
        <div class="mt-0 p-2 border-round-2xl border-noround-bottom bg-color-tercero">
          <p class="text-white">{{'compra_boleto.elegir_horario' | translate}}</p>
        </div>
        <div class="px-3 py-2 grid m-0 w-full">
          <div class="col-12 py-1 grid m-0 bg-color-azul-bajo">
            <div class="col-2 py-0">
              <p class="text-sm w-full text-center font-medium">{{'compra_boleto.placa_bus' | translate}}</p>
            </div>
            <div class="col-3 py-0">
              <p class="text-sm w-full text-center font-medium">{{'compra_boleto.fecha_salida' | translate}}</p>
            </div>
            <div class="col-3 py-0">
              <p class="text-sm w-full text-center font-medium">{{'compra_boleto.hora_salida' | translate}}</p>
            </div>
            <div class="col-2 py-0">
              <p class="text-sm w-full text-center font-medium">{{'compra_boleto.precio' | translate}}</p>
            </div>
            <div class="col-2 py-0">
              <p class="text-sm w-full text-center font-medium">{{'compra_boleto.seleccionar' | translate}}</p>
            </div>
          </div>
          <div class="col-12 py-1 px-0 m-0 grid" *ngFor="let boleto of boletos">
            <div class="col-2 py-0 flex justify-content-center align-content-center flex-wrap">
              <p class="text-sm w-max">{{boleto.placa_bus}}</p>
            </div>
            <div class="col-3 py-0 flex justify-content-center align-content-center flex-wrap">
              <p class="text-sm w-max">{{boleto.fecha_salida | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="col-3 py-0 flex justify-content-center align-content-center flex-wrap">
              <p class="text-sm w-max">{{boleto.hora_salida | hora}}</p>
            </div>
            <div class="col-2 py-0 flex justify-content-center align-content-center flex-wrap">
              <p class="text-sm w-max">{{boleto.precio_boleto | currency}}</p>
            </div>
            <div class="col-2 py-0 flex justify-content-center align-content-center flex-wrap">
              <p-button (onClick)="seleccionarBoleto(boleto.id_boleto)" class="button-primary" label="Y Comprar"></p-button>
            </div>
            <div class="table w-full mt-1">
              <hr>
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div *ngIf="id==1" class="mt-3 mb-8 w-12 flex justify-content-center align-content-center flex-wrap">
        <div class="w-12 grid m-0">
          <div class="col-4">
            <div class="w-12 flex justify-content-center flex-wrap">
              <div class="w-max" style="max-width: 100%;">
                <div class="inline-block">
                  <div class="flex justify-content-center flex-wrap">
                    <img width="30px" src="../../../../assets/Images/icons/asiento-libre.svg" alt="asiento libre">
                    <p class="mt-2 ml-2 mr-5 text-color-30a7c2">{{'compra_boleto.asiento_libre' | translate}}</p>
                  </div>
                </div>
                <div class="inline-block">
                  <div class="flex justify-content-center flex-wrap">
                    <img width="30px" src="../../../../assets/Images/icons/asiento-ocupado.svg" alt="asiento ocupado">
                    <p class="mt-2 ml-2 text-color-999">{{'compra_boleto.asiento_ocupado' | translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-12 flex justify-content-center flex-wrap mt-4">
              <div class="w-9 border-asientos">
                  <div class="mt-4 mx-2 flex justify-content-between flex-wrap">
                    <div>
                      <img width="40px" src="../../../../assets/Images/icons/steering-wheel.svg" alt="volante">
                    </div>
                    <div>
                      <img width="40px" src="../../../../assets/Images/icons/door.svg" alt="volante">
                    </div>
                  </div>
                  <div class="my-4  grid m-0">
                    <div class="width-40 grid m-0 p-0">
                      <ng-container  *ngFor="let asientosBus of asientos">
                        <div class="col-6 col-sm-4" *ngIf="asientosBus.asiento.charAt(0) == 'A'">
                          <div class="w-full flex justify-content-center flex-wrap relative" [ngClass]="{'cursor-not-allowed': !asientosBus.disponible,'cursor-pointer': asientosBus.disponible}" >
                            <p (click)="seleccionarAsiento(asientosBus.id_asiento)" [ngClass]="{'text-color-999': !asientosBus.disponible && !asientosBus.seleccionado,'text-color-30a7c2': asientosBus.disponible && !asientosBus.seleccionado, 'text-white': asientosBus.seleccionado}" class="absolute top-10px text-sm">{{asientosBus.asiento}}</p>
                            <img (click)="seleccionarAsiento(asientosBus.id_asiento)" [src]="(asientosBus.seleccionado) ? iconoAsientoSeleccionado : (asientosBus.disponible) ? iconoAsientoDisponible : iconoAsientoOcupado"  width="40px" alt="asiento libre">
                          </div>
                        </div>
                      </ng-container>        
                    </div>
                    <div class="width-20 flex justify-content-center flex-wrap">
                      <div class="w-8 bd-color-fcf9f0">
                      </div>
                    </div>
                    <div class="width-40 grid m-0 p-0">
                      <ng-container  *ngFor="let asientosBus of asientos">
                        <div class="col-6" *ngIf="asientosBus.asiento.charAt(0) == 'B'">
                          <div class="w-full flex justify-content-center flex-wrap relative" [ngClass]="{'cursor-not-allowed': !asientosBus.disponible,'cursor-pointer': asientosBus.disponible}" >
                            <p (click)="seleccionarAsiento(asientosBus.id_asiento)" [ngClass]="{'text-color-999': !asientosBus.disponible && !asientosBus.seleccionado,'text-color-30a7c2': asientosBus.disponible && !asientosBus.seleccionado, 'text-white': asientosBus.seleccionado}" class="absolute top-10px text-sm">{{asientosBus.asiento}}</p>
                            <img (click)="seleccionarAsiento(asientosBus.id_asiento)" [src]="(asientosBus.seleccionado) ? iconoAsientoSeleccionado : (asientosBus.disponible) ? iconoAsientoDisponible : iconoAsientoOcupado"  width="40px" alt="asiento libre">
                          </div>
                        </div>
                      </ng-container>        
                    </div>
                    <div class="col-12 grid m-0 p-0">
                      <ng-container  *ngFor="let asientosBus of asientos">
                        <div class="width-20" *ngIf="asientosBus.asiento.charAt(0) == 'C'">
                          <div class="w-full flex justify-content-center flex-wrap relative" [ngClass]="{'cursor-not-allowed': !asientosBus.disponible,'cursor-pointer': asientosBus.disponible}" >
                            <p (click)="seleccionarAsiento(asientosBus.id_asiento)" [ngClass]="{'text-color-999': !asientosBus.disponible && !asientosBus.seleccionado,'text-color-30a7c2': asientosBus.disponible && !asientosBus.seleccionado, 'text-white': asientosBus.seleccionado}" class="absolute top-10px text-sm">{{asientosBus.asiento}}</p>
                            <img (click)="seleccionarAsiento(asientosBus.id_asiento)" [src]="(asientosBus.seleccionado) ? iconoAsientoSeleccionado : (asientosBus.disponible) ? iconoAsientoDisponible : iconoAsientoOcupado"  width="40px" alt="asiento libre">
                          </div>
                        </div>
                      </ng-container>        
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <div class="w-max">
              <div class="relative inline-block">
                <div class="square bg-color-efbe09">
                  <span class="text-sm">{{'compra_boleto.ida' | translate}}</span>
                </div>
                <div class="triangle"></div>
              </div>
              <div class="inline-block ml-5">
                <span class="font-normal text-sm">Fecha: <span class="font-bold">{{boletoSeleccionado.fecha_salida | date:'dd/MM/yyyy'}}</span> Hora: <span class="font-bold">{{boletoSeleccionado.hora_salida | hora}}</span></span>
              </div>
            </div>
            <div class="w-12 flex justify-content-center flex-wrap mt-4">
                <div class="w-11 bg-color-fafaf9 p-4 border-info-asientos grid m-0">
                    <p class="text-sm col-3 text-center"><span class="font-bold">{{'compra_boleto.ciudad_partida' | translate}}:</span> {{ciudadPartida.ciudad}}</p>
                    <p class="text-sm col-3 text-center"><span class="font-bold">{{'compra_boleto.ciudad_llegada' | translate}}:</span> {{ciudadLlegada.ciudad}}</p>
                    <p class="text-sm col-3 text-center"><span class="font-bold">{{'compra_boleto.precio_unitario' | translate}}:</span> {{boletoSeleccionado.precio_boleto}}</p>
                    <p class="text-sm col-3 text-center"><span class="font-bold">{{'compra_boleto.asientos_disponibles' | translate}}:</span> {{cantidadAsientoDisponible()}}</p>
                </div>
            </div>
            <div class="w-12 flex justify-content-center flex-wrap mt-4" *ngFor="let infoBoleto of asientosSeleccionado; let indice = index">
              <div class="w-11 bg-color-fafaf9 border-info-asientos grid m-0">
                <div class="m-0 p-0 w-full bg-tr bg-color-transparent border-info-usuario p-3 grid">
                  <div class="col p-0 flex align-content-center flex-wrap">
                      <p class="text-lg font-bold text-color-30a7c2">{{'compra_boleto.asiento' | translate}}: {{encontrarNombreAsiento(infoBoleto.id_asiento)}}</p>
                  </div>
                  <div class="w-max">
                      <i (click)="eliminarAsiento(infoBoleto.id_asiento)" class="pi-times-circle pi text-2xl text-red-700 cursor-pointer"></i>
                  </div>
                </div>
                <div class="w-12 grid m-0">
                  <div class="col-6 mt-3">
                    <div class="flex flex-wrap gap-3">
                      <div class="flex align-items-center">
                          <p-radioButton name="cedula" value="C" [(ngModel)]="asientosSeleccionado[indice].cliente.tipo_Identificacion" inputId="tipoIdentificacionC"></p-radioButton>
                          <label for="tipoIdentificacionC" [ngClass]="{'font-bold ': asientosSeleccionado[indice].cliente.tipo_Identificacion=='C'}" class="ml-2 text-sm">Cédula</label>
                      </div>
                      
                      <div class="flex align-items-center">
                          <p-radioButton name="ruc" value="R" [(ngModel)]="asientosSeleccionado[indice].cliente.tipo_Identificacion" inputId="tipoIdentificacionR"></p-radioButton>
                          <label for="tipoIdentificacionR" [ngClass]="{'font-bold': asientosSeleccionado[indice].cliente.tipo_Identificacion=='R'}" class="ml-2 text-sm">Ruc</label>
                      </div>
                      
                      <div class="flex align-items-center">
                          <p-radioButton name="pasaporte" value="P" [(ngModel)]="asientosSeleccionado[indice].cliente.tipo_Identificacion" inputId="tipoIdentificacionP"></p-radioButton>
                          <label for="tipoIdentificacionP" [ngClass]="{'font-bold': asientosSeleccionado[indice].cliente.tipo_Identificacion=='P'}" class="ml-2 text-sm">Passporte</label>
                      </div>
                    </div>
                    <div class="mt-1 w-full">
                      <input *ngIf="asientosSeleccionado[indice].cliente.tipo_Identificacion=='C'" minlength="10" maxlength="10" (keypress)="bloquearLetras($event)" class="w-full" type="text" pInputText [(ngModel)]="asientosSeleccionado[indice].cliente.identificacion" />
                      <input *ngIf="asientosSeleccionado[indice].cliente.tipo_Identificacion=='R'" minlength="13" maxlength="13" (keypress)="bloquearLetras($event)" class="w-full" type="text" pInputText [(ngModel)]="asientosSeleccionado[indice].cliente.identificacion" />
                      <input *ngIf="asientosSeleccionado[indice].cliente.tipo_Identificacion=='P'" maxlength="20" class="w-full" type="text" pInputText [(ngModel)]="asientosSeleccionado[indice].cliente.identificacion" />
                    </div>
                  </div>
                  <div class="col-6 mt-3">
                    <label for="ingredient3" class="font-bold ml-2 text-sm mb-1">{{'compra_boleto.nombre' | translate}}</label>
                    <div class="mt-1 w-full">
                      <input class="w-full mt-1" type="text" pInputText [(ngModel)]="asientosSeleccionado[indice].cliente.nombre_cliente" (keypress)="bloquearNumeros($event)" />
                    </div>
                  </div>
                  <div class="col-6 mt-2">
                    <label for="celular"  class="font-bold ml-2 text-sm mb-1">{{'compra_boleto.celular' | translate}}</label>
                    <div class="mt-1 w-full">
                      <input class="w-full mt-1" pInputText pKeyFilter="int" maxlength="10" (keypress)="bloquearLetras($event)" [(ngModel)]="asientosSeleccionado[indice].cliente.celular_cliente" />
                    </div>
                  </div>
                  <div class="col-6 mt-2">
                    <label for="ingredient3" class="font-bold ml-2 text-sm mb-1">{{'compra_boleto.correo' | translate}}</label>
                    <div class="mt-1 w-full">
                      <input [disabled]="false" class="w-full mt-1" type="email" pInputText [(ngModel)]="asientosSeleccionado[indice].cliente.correo_cliente" />
                    </div>
                  </div>
                </div>
               </div>
            </div>
          </div>
        </div>  
        <div class="w-12 flex justify-content-center flex-wrap mt-4">
            <div class="w-max">
              <p-button class="button-segundary" label="X Regresar"></p-button> &nbsp;&nbsp;
              <p-button class="button-primary" label="X Continuar" (click)="guardarInformacionBoleto()"></p-button>
            </div>
        </div>
    </div>
    <div *ngIf="id==2" class="mt-3 mb-8 w-12 flex justify-content-center align-content-center flex-wrap">
      <div class="w-11 grid m-0">
        <div class="col-4">
          <div class="w-12 mt-2 px-2">
            <div class="relative inline-block">
              <div class="square bg-color-efbe09">
                <span class="text-sm">IDA</span>
              </div>
              <div class="triangle"></div>
            </div>
            <div class="inline-block ml-5">
              <span class="font-normal text-sm">Fecha: <span class="font-bold">{{boletoSeleccionado.fecha_salida | date:'dd/MM/yyyy'}}</span> Hora: <span class="font-bold">{{boletoSeleccionado.hora_salida | hora}}</span></span>
            </div>
          </div>
          <div class="w-full mt-3 bg-color-fafaf9 p-2 border-info-asientos">
            <p class="text-sm col-12 text-left"><span class="font-bold">{{'compra_boleto.ciudad_partida' | translate}}:</span> {{ciudadPartida.ciudad}}</p>
            <p class="text-sm col-12 text-left"><span class="font-bold">{{'compra_boleto.ciudad_llegada' | translate}}:</span> {{ciudadLlegada.ciudad}}</p>
            <p class="text-sm col-12 text-left"><span class="font-bold">{{'compra_boleto.precio_unitario' | translate}}:</span> {{boletoSeleccionado.precio_boleto}}</p>
            <p class="text-sm col-12 text-left"><span class="font-bold">{{'compra_boleto.cantidad_asientos' | translate}}:</span> {{compraBoleto.asientosSeleccionado.length}}</p>
            <p class="text-sm col-12 text-left"><span class="font-bold">{{'compra_boleto.precio_final_sin_iva' | translate}}:</span> {{boletoSeleccionado.precio_boleto*compraBoleto.asientosSeleccionado.length}}</p>
            <p class="text-sm col-12 text-left"><span class="font-bold">{{'compra_boleto.precio_final_con_iva' | translate}}:</span> {{(boletoSeleccionado.precio_boleto*compraBoleto.asientosSeleccionado.length)*0.12+(boletoSeleccionado.precio_boleto*compraBoleto.asientosSeleccionado.length)}}</p>
          </div>
        </div>
        <div class="col-8">
          <div class="w-12 flex justify-content-center flex-wrap">
            <p class="text-left text-color-30a7c2 text-lg w-11">{{'compra_boleto.revise_informacion_no_realizan_devoluciones' | translate}}. </p>
          </div>
          <div class="w-12 flex justify-content-center flex-wrap mt-4">
              <div class="w-11 bg-color-fafaf9 border-info-asientos">
                  <div class="border-info-usuario px-3 py-2">
                    <p>{{'compra_boleto.datos_factura' | translate}}</p>
                  </div>
                  <div class="w-full grid m-0 mt-2">
                    <div class="col-6">
                      <label class="font-bold ml-1 text-sm">{{'compra_boleto.nombre' | translate}}</label>
                      <div class="w-full mt-1">
                        <input class="w-full mt-1" type="text" pInputText  (keypress)="bloquearNumeros($event)" [(ngModel)]="compraBoleto.ClienteBoletoResponse!.nombre_cliente"/>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="flex flex-wrap gap-3">
                        <div class="flex align-items-center">
                            <p-radioButton name="cedula" value="C" [(ngModel)]="compraBoleto.ClienteBoletoResponse!.tipo_Identificacion" inputId="tipoIdentificacionC"></p-radioButton>
                            <label for="tipoIdentificacionC" [ngClass]="{'font-bold ': compraBoleto.ClienteBoletoResponse!.tipo_Identificacion=='C'}" class="ml-2 text-sm">{{'compra_boleto.cedula' | translate}}</label>
                        </div>
                        
                        <div class="flex align-items-center">
                            <p-radioButton name="ruc" value="R" [(ngModel)]="compraBoleto.ClienteBoletoResponse!.tipo_Identificacion" inputId="tipoIdentificacionR"></p-radioButton>
                            <label for="tipoIdentificacionR" [ngClass]="{'font-bold': compraBoleto.ClienteBoletoResponse!.tipo_Identificacion=='R'}" class="ml-2 text-sm">{{'compra_boleto.ruc' | translate}}</label>
                        </div>
                        
                        <div class="flex align-items-center">
                            <p-radioButton name="pasaporte" value="P" [(ngModel)]="compraBoleto.ClienteBoletoResponse!.tipo_Identificacion" inputId="tipoIdentificacionP"></p-radioButton>
                            <label for="tipoIdentificacionP" [ngClass]="{'font-bold': compraBoleto.ClienteBoletoResponse!.tipo_Identificacion=='P'}" class="ml-2 text-sm">{{'compra_boleto.pasaporte' | translate}}</label>
                        </div>
                      </div>
                      <div class="w-full">
                        <input *ngIf="compraBoleto.ClienteBoletoResponse!.tipo_Identificacion=='C'" maxlength="10" (keypress)="bloquearLetras($event)" class="w-full mt-1" type="tel" pInputText [(ngModel)]="compraBoleto.ClienteBoletoResponse!.identificacion" />
                        <input *ngIf="compraBoleto.ClienteBoletoResponse!.tipo_Identificacion=='R'" maxlength="13" (keypress)="bloquearLetras($event)" class="w-full mt-1" type="tel" pInputText [(ngModel)]="compraBoleto.ClienteBoletoResponse!.identificacion" />
                        <input *ngIf="compraBoleto.ClienteBoletoResponse!.tipo_Identificacion=='P'" maxlength="20" (keypress)="bloquearLetras($event)" class="w-full mt-1" type="text" pInputText [(ngModel)]="compraBoleto.ClienteBoletoResponse!.identificacion" />
                      </div>
                    </div>
                    <div class="col-6">
                      <label class="font-bold ml-1 text-sm">{{'compra_boleto.celular' | translate}}</label>
                      <div class="w-full">
                        <input class="w-full mt-1" type="tel" maxlength="10" pInputText (keypress)="bloquearLetras($event)" [(ngModel)]="compraBoleto.ClienteBoletoResponse!.celular_cliente"/>
                      </div>
                    </div>
                    <div class="col-6">
                      <label class="font-bold ml-1 text-sm">{{'compra_boleto.correo' | translate}}</label>
                      <div class="w-full">
                        <input class="w-full mt-1" type="text" pInputText [(ngModel)]="compraBoleto.ClienteBoletoResponse!.correo_cliente"/>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="w-12 flex justify-content-center flex-wrap mt-4">
            <div class="w-11 bg-color-fafaf9 border-info-asientos">
                <div class="border-info-usuario px-3 py-2">
                  <p>{{'compra_boleto.forma_pago' | translate}}</p>
                </div>
                <div class="w-full px-2">
                  <div class="flex flex-wrap gap-3 ml-1 mt-4">
                    <div class="flex align-items-center">
                        <p-radioButton name="tarjetaCredito" value="C" inputId="formaPagoC" [(ngModel)]="compraBoleto.formaPago!.tipoFormaPago"></p-radioButton>
                        <label for="formaPagoC" [ngClass]="{'font-bold': compraBoleto.formaPago!.tipoFormaPago=='C'}" class="ml-2 text-sm">{{'compra_boleto.tarjeta_credito' | translate}}</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="tarjetaDebito" value="D" inputId="formaPagoD" [(ngModel)]="compraBoleto.formaPago!.tipoFormaPago"></p-radioButton>
                        <label for="formaPagoD" [ngClass]="{'font-bold': compraBoleto.formaPago!.tipoFormaPago=='D'}" class="ml-2 text-sm">{{'compra_boleto.tarjeta_debito' | translate}}</label>
                    </div>
                  </div>
                <div class="w-full grid m-0 mt-2">
                    <div class="col-6">
                      <label class="font-bold ml-1 text-sm">{{'compra_boleto.nombre' | translate}}</label>
                      <div class="w-full">
                        <input class="w-full mt-1" type="text" pInputText (keypress)="bloquearNumeros($event)" [(ngModel)]="compraBoleto.formaPago!.nombre"/>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="numeroTarjeta" class="ml-1 text-sm font-bold">{{'compra_boleto.numero_tarjeta' | translate}}</label>
                      <div class="w-full mt-1">
                        <p-inputMask mask="9999-9999-9999-9999" [(ngModel)]="compraBoleto.formaPago!.numero_tarjeta" ></p-inputMask>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="fechaTarjeta" class="ml-1 text-sm font-bold">{{'compra_boleto.fecha_expiracion' | translate}}</label>
                      <div class="w-full mt-1">
                        <p-inputMask mask="99/9999" [(ngModel)]="compraBoleto.formaPago!.fecha_expiracion"></p-inputMask>
                      </div>
                    </div>
                    <div class="col-6">
                      <label for="codigoTarjeta" class="ml-1 text-sm font-bold">{{'compra_boleto.cvc' | translate}}</label>
                      <div class="w-full mt-1">
                        <p-inputMask mask="999?9" [(ngModel)]="compraBoleto.formaPago!.codigo_tarjeta"></p-inputMask>
                      </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
      </div>
      <div class="w-12 flex justify-content-center flex-wrap mt-4">
        <div class="w-max">
          <p-button class="button-segundary" label="X Regresar"></p-button> &nbsp;&nbsp;
          <p-button class="button-primary" label="X Pagar" (click)="pagarBoleto()"></p-button>
        </div>
      </div>
    </div>
  </div>
   <div class="loading-overlay" *ngIf="spinner">
    <div class="loading-container">
      <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration="1.5s"></p-progressSpinner>
    </div>
  </div>
</div>

<p-toast key="comprar-boleto" position="top-right"></p-toast>
