.bg-color-primary {
    background-color: rgb(1, 54, 134);
}
.text-color-primary-buses {
    color: rgb(1, 54, 134);
}

.bg-color-tercero{
    background-color: rgb(32, 121, 254);
}

.bg-color-azul-bajo{
    background-color: rgb(214, 231, 255);
}

.bg-color-secondary {
    background-color: rgb(253, 221, 54);
}

.text-color-secondary-buses {
    color: rgb(253, 221, 54);
}