.bg-color-primary {
    background-color: rgb(1, 54, 134);
}
.text-color-primary-buses {
    color: rgb(1, 54, 134);
}

.bd-color-fcf9f0{
    background: #cae2f8e3;
}

.bg-color-fafaf9{
    background: #fafaf9;
}

.bg-color-transparent {
    background: transparent;
}
.text-color-30a7c2{
    color: #30a7c2;
}

.text-color-999{
    color: #999;
}

.bg-color-efbe09{
    background: #efbe09;
}

.text-color-efbe09{
    color: #efbe09;
}

.bg-color-tercero{
    background-color: rgb(32, 121, 254);
}
.text-color-tercero{
    color: rgb(32, 121, 254);
}

.bg-color-azul-bajo{
    background-color: rgb(214, 231, 255);
}

.bg-color-secondary {
    background-color: rgb(253, 221, 54);
}

.text-color-secondary-buses {
    color: rgb(253, 221, 54);
}