
h2{
    font-family: 'Amaranth';
}

hr {
    border: 0.2rem solid rgb(1, 54, 134);
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 0.6rem;
}
.p-button {
    padding: 0.40rem 0.65rem!important;
    transition: background-color 0.2s, color 0.01s, border-color 0.2s, box-shadow 0.2s !important;
}

.p-button-label{
    font-size: 14px;
}

.button-primary .p-button {
    background-color: rgb(1, 54, 134);
}

.button-primary .p-button.p-button:enabled:hover {
    color: rgb(253, 221, 54);
    background-color: rgb(1, 54, 134);
}

.button-segundary .p-button {
    background-color: #ffc907;
    border: 1px solid #ffc907;
    color: white;
}

.button-segundary .p-button.p-button:enabled:hover {
    background-color: #ffc907;
    color: rgb(1, 54, 134);
    border: 1px solid #ffc907;
}

.p-dialog .p-dialog-header .p-dialog-header-icon{
    color: rgb(172, 12, 12)!important;
}

.mt-9{
    margin-top : 6rem;
}

.p-dialog-mask{
    background-color: rgba(0, 0, 0, 0.815)!important;
}

.p-radiobutton .p-radiobutton-box.p-highlight{
    border-color: #efbe09!important;
    background: #efbe09!important;
}

.cursor-not-allowed{
    cursor: not-allowed;  
    cursor: -moz-not-allowed;
    cursor: -webkit-not-allowed;
}

.p-inputmask{
    width: 100% !important;
}

.p-menu{
    height: 75vh!important;
}
